<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562324131835-fsb5r5hk7f94jeeu0fk3imngqamnbn1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562324131835-fsb5r5hk7f94jeeu0fk3imngqamnbn1v</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2qvWvUTknrKHjYG4zF7Qu4ECVlBaJrM</string>
	<key>GCM_SENDER_ID</key>
	<string>562324131835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duxetech.Shopping</string>
	<key>PROJECT_ID</key>
	<string>shoppingios</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562324131835:ios:afe35370b9a09f0787855e</string>
	<key>DATABASE_URL</key>
	<string>https://shoppingios.firebaseio.com</string>
</dict>
</plist>